.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__posts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
